*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:aliceblue;
    font-weight: lighter;
    box-sizing: border-box;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

p 
{
    font-size: 20px;
    letter-spacing: 3px;
}

label
{
    font-size: 16px;
}

input[type=text], input[type=email], select, textarea
{
    word-wrap: break-word;
    word-break: break-all;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    border: 1px solid aliceblue;
    margin-top: 12px;
    margin-bottom: 12px;
    resize:vertical;
    color:black;
}

button[type=submit]
{
    background-color: #5c76cc;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

button[type=submit]:hover
{
    background-color: rgb(255, 115, 115);
}


.contactcontainer
{
    border-radius: 5px;
    background: none;
    padding: 10px;
}

.column
{
    float:center;
    width: 50%;
    margin:auto;
    padding: 20px;
}

.row:after
{
    content:"";
    display: table;
    clear: both;
}


@media screen and (max-width:600px) 
{
    .column, input[type=submit]
    {
        width:100%;
        margin-top:0;
    }
}
